.login-container {
  width: 100%;
  max-width: 400px;
  margin: 100px auto;
  padding: 30px;
  background-color: rgba(255, 255, 255, 0.95); /* slightly transparent white */
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
  text-align: center;
  font-family: Arial, sans-serif;
  position: relative;
  z-index: 1;
}

.login-page {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: url('../assets/loginbackground.jpg') no-repeat center center fixed;
  background-size: cover;
  font-family: Arial, sans-serif;
}


.login-container h2 {
  margin-bottom: 20px;
  color: #333;
}

.login-container form div {
  margin-bottom: 15px;
  text-align: left;
}

.login-container label {
  display: block;
  margin-bottom: 5px;
  color: #555;
  font-weight: bold;
}

.login-container input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 16px;
  box-sizing: border-box;
}

.login-container input:focus {
  border-color: #4CAF50;
  outline: none;
}

.login-container button {
  width: 100%;
  padding: 12px;
  background-color: #161e8d;
  color: white;
  border: none;
  border-radius: 6px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.login-container button:hover {
  background-color: #20075b;
}
